apiVersion: apps/v1
kind: Deployment
metadata:
  name: docker-build
  namespace: jenkins
  labels: 
    app: docker-dind
spec:
  replicas: 1
  selector:
    matchLabels:
      app: docker-dind
  template:
    metadata:
      labels:
        app: docker-dind
    spec:
      containers:
      - name: dind
        image: docker:19.03.3-dind
        securityContext:
          privileged: true
        env:
        - name: DOCKER_TLS_CERTDIR
          value: ''
        volumeMounts:
        - name: dind-storage
          mountPath: /var/lib/docker 
      volumes:
      - name: dind-storage
        emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: docker-dind
  namespace: jenkins
spec:
  selector:
    app: docker-dind
  ports:
  - protocol: TCP
    port: 2375
    targetPort: 2375
